/* 页面初始化样式文件 */
/* 内外边距初始化 */
* {
  margin: 0;
  padding: 0;
}
/* 初始化a标签 */
a {
  text-decoration: none;
  color: #050505;
}
/* 初始化无序列表 */
ul {
  list-style: none;
}
/* 初始化input */
input {
  border: none;
  outline: none;
}
/* 设置一个公共使用样式 */
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 清除浮动代码 */
.clearfix::after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
body {
  background-color: #f3f5f7;
}
header {
  background-color: #fff;
  padding: 30px 0;
}
header main {
  display: flex;
  justify-content: space-between;
}
header main .logo {
  width: 200px;
}
header main .logo h1 {
  font-size: 0;
}
header main .nav {
  margin: 0 90px 0 70px;
  font-size: 18px;
  color: #050505;
}
header main .nav ul {
  display: flex;
}
header main .nav ul li {
  padding: 8px;
  margin-right: 27px;
}
header main .nav ul .active {
  border-bottom: 2px solid #00a4ff;
}
header main .search {
  position: relative;
  width: 410px;
  height: 40px;
  border: 1px solid #00a4ff;
  border-right: 0;
}
header main .search > input {
  width: 360px;
  height: 40px;
  text-indent: 18px;
  color: #bfbfbf;
}
header main .search > img {
  position: absolute;
  top: 0;
  right: 0;
}
header main .user {
  margin-left: 30px;
  color: #666;
}
header main .user img {
  border-radius: 50%;
  vertical-align: middle;
}
.banner {
  background: #1c036c;
}
.banner main {
  display: flex;
  justify-content: space-between;
  background: url('../images/banner2.png') center no-repeat;
  height: 421px;
}
.banner main .navLeft {
  padding: 26px 20px;
  width: 190px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.banner main .navLeft ul li {
  line-height: 41px;
}
.banner main .navLeft ul li > span {
  float: right;
}
.banner main .navLeft ul li:hover {
  color: #00b4ff;
}
.banner main .myClass {
  margin-top: 50px;
  width: 228px;
  height: 300px;
  background: #fff;
}
.banner main .myClass .title {
  line-height: 48px;
  text-align: center;
  background: #9bceea;
  color: #fff;
}
.banner main .myClass .content {
  padding: 6px 18px 10px ;
}
.banner main .myClass .content .classInfo {
  padding: 14px 0;
  border-bottom: 1px solid #e5e5e5;
}
.banner main .myClass .content .classInfo:last-child {
  border-bottom: 0;
}
.banner main .myClass .content .classInfo h4 {
  font-weight: normal;
  font-size: 6px;
  color: #4e4e4e;
}
.banner main .myClass .content .classInfo h4 > span {
  font-size: 14px;
}
.banner main .myClass .content .classInfo p {
  font-size: 12px;
  color: #a5a5a5;
}
.banner main .myClass .content .active h4,
.banner main .myClass .content .active p {
  color: #00a4ff;
}
.banner main .myClass .content .allclass {
  line-height: 38px;
  text-align: center;
  border: 1px solid #00a4ff;
}
.banner main .myClass .content .allclass > a {
  color: #00a4ff;
  font-size: 16px;
}
.record {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  margin-top: 10px;
  background-color: #fff;
  font-size: 16px;
  color: #050505;
  box-shadow: 2px 3px 2px #eee;
}
.record ul {
  display: flex;
}
.record ul li {
  padding: 0 35px;
  border-right: 1px solid #bfbfbf;
}
.record ul li:last-child {
  border-right: 0;
}
.record ul .active {
  color: #00a4ff;
}
.record a {
  margin-right: 25px;
  font-size: 14px;
  color: #00a4ff;
}
.recordClass .title {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 20px 0;
}
.recordClass .title h3 {
  font-weight: normal;
  font-size: 20px;
  color: #494949;
}
.recordClass .title span {
  margin-right: 30px;
  font-size: 12px;
  color: #a5a5a5;
}
.recordClass main {
  display: flex;
  flex-wrap: wrap;
}
.recordClass main .content {
  width: 228px;
  margin-right: 15px;
  margin-bottom: 12px;
}
.recordClass main .content:nth-child(5n) {
  margin-right: 0;
}
.recordClass main .content .classImg img {
  display: block;
  width: 100%;
}
.recordClass main .content .classInfo {
  background: #fff;
  padding: 23px 20px 27px 24px;
}
.recordClass main .content .classInfo h1 {
  font-size: 14px;
  color: #050505;
  padding-bottom: 15px;
}
.recordClass main .content .classInfo p {
  color: #606060;
  font-size: 12px;
}
.recordClass main .content .classInfo p span {
  color: #ff7c2d;
}
