@import './base.less';

// 版心大小
.w {
    width: 1200px;
    margin: 0 auto;
}
body {
    background-color: #f3f5f7;
}

// 头部样式开始
header {
    // height: 100px;
    background-color: #fff;
    padding: 30px 0;
    // line-height: 100px;

    main {
        display: flex;
        justify-content: space-between;

        .logo {
            width: 200px;

            h1 {
                font-size: 0;
            }
        }

        .nav {
            margin: 0 90px 0 70px;
            font-size: 18px;
            color: #050505;

            ul {
                display: flex;

                li {
                    padding: 8px;
                    margin-right: 27px;
                }
                .active {
                    border-bottom: 2px solid #00a4ff;
                }
            }
        }

        .search {
            position: relative;
            width: 410px;
            height: 40px;
            border: 1px solid #00a4ff;
            border-right: 0;

            >input {
                width: 360px;
                height: 40px;
                text-indent: 18px;
                color:#bfbfbf;

            }

            >img {
                position: absolute;
                top: 0;
                right: 0;
            }


        }

        .user {
            margin-left: 30px;
            color: #666;

            img {
                border-radius: 50%;
                vertical-align: middle;
            }
        }

    }
}

// 中加banner样式开始
.banner {
    background: #1c036c;
    main {
        display: flex;
        justify-content: space-between;
        background: url('../images/banner2.png') center no-repeat;
        height: 421px;
        .navLeft {
            padding: 26px 20px;
            width: 190px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            ul {
                li {
                    line-height: 41px;
                    >span {
                        float: right;
                    }
                    &:hover{
                        color: #00b4ff
                    }
                }
            }
        }
        .myClass {
            margin-top: 50px;
            width: 228px;
            height: 300px;
            background: #fff;
            .title {
                line-height: 48px;
                text-align: center;
                background: #9bceea;
                color: #fff
            }
            .content {
                padding: 6px 18px 10px ;
                .classInfo {
                    padding: 14px 0;
                    border-bottom: 1px solid #e5e5e5;
                    &:last-child{
                        border-bottom: 0;
                    }
                    h4 {
                        font-weight: normal;
                        font-size: 6px;
                        color: #4e4e4e;
                        >span {
                            font-size: 14px;
                        }
                       
                    }
                    p {
                        font-size: 12px;
                        color:  #a5a5a5;
                    }
                   
                }
                .active {
                    h4,p{
                        color: #00a4ff;
                    }
                  }
                
                .allclass {
                    line-height: 38px;
                    text-align: center;
                    border: 1px solid #00a4ff;
                    >a {
                        color: #00a4ff;
                        font-size: 16px;
                    }
                }
            }
            
        }
    }
    
}


// 精品推荐样式开始
.record {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
    margin-top: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #050505;
    box-shadow: 2px 3px 2px #eee;
    ul {
        display: flex;
        li {
            padding: 0 35px;
            border-right: 1px solid #bfbfbf;
            &:last-child {
                border-right: 0;
            }
        }
        .active {
            color: #00a4ff;
        }
    }
    a {
        margin-right: 25px;
        font-size: 14px;
        color: #00a4ff;
    }
}


